flows.json
[{"id":"ba1142de.f6ee6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ee94cf36.56cf9","type":"ui_form","z":"ba1142de.f6ee6","name":"","label":"","group":"b6f80508.f0f128","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Create","cancel":"Cancel","topic":"","x":150,"y":220,"wires":[["364bb57f.0263ea","31019850.7588e8"]]},{"id":"364bb57f.0263ea","type":"debug","z":"ba1142de.f6ee6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":220,"wires":[]},{"id":"31019850.7588e8","type":"function","z":"ba1142de.f6ee6","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":340,"wires":[["83f47d07.85886"]]},{"id":"83f47d07.85886","type":"cloudant out","z":"ba1142de.f6ee6","name":"cloudant","cloudant":"","database":"sample","service":"node-red-apmyd-2020--cloudant-1597403199595-77240","payonly":true,"operation":"insert","x":580,"y":340,"wires":[]},{"id":"f84f2bc0.984798","type":"ui_form","z":"ba1142de.f6ee6","name":"","label":"","group":"b15b59f2.6a51e8","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":480,"wires":[["d430be89.eb0e8"]]},{"id":"d430be89.eb0e8","type":"function","z":"ba1142de.f6ee6","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":480,"wires":[["614bf524.d8955c"]]},{"id":"614bf524.d8955c","type":"function","z":"ba1142de.f6ee6","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":480,"wires":[["bb955d6d.a8bde"]]},{"id":"bb955d6d.a8bde","type":"cloudant in","z":"ba1142de.f6ee6","name":"","cloudant":"","database":"sample","service":"node-red-apmyd-2020--cloudant-1597403199595-77240","search":"_idx_","design":"user","index":"user","x":680,"y":480,"wires":[["76b1044b.b5154c"]]},{"id":"76b1044b.b5154c","type":"function","z":"ba1142de.f6ee6","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":480,"wires":[["9f7a4339.7fd31"]]},{"id":"9f7a4339.7fd31","type":"ui_text","z":"ba1142de.f6ee6","group":"b15b59f2.6a51e8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":480,"wires":[]},{"id":"e001712e.506d","type":"ui_form","z":"ba1142de.f6ee6","name":"","label":"","group":"5ea54420.7f815c","order":0,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":600,"wires":[["546aad7f.e8f144"]]},{"id":"546aad7f.e8f144","type":"function","z":"ba1142de.f6ee6","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":620,"wires":[["148cbf98.ac7af"]]},{"id":"148cbf98.ac7af","type":"watson-conversation-v1","z":"ba1142de.f6ee6","name":"","workspaceid":"5e01edd7-2785-4a84-b29b-d7945f005108","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/9ebafceb-da0e-4002-a61d-45b2df17e098","timeout":"","optout-learning":false,"x":520,"y":600,"wires":[["66bb08df.d2f178"]]},{"id":"53f2cd3d.b3a9f4","type":"ui_text","z":"ba1142de.f6ee6","group":"5ea54420.7f815c","order":1,"width":"6","height":"7","name":"","label":"bot response:","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":580,"wires":[]},{"id":"66bb08df.d2f178","type":"function","z":"ba1142de.f6ee6","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":580,"wires":[["53f2cd3d.b3a9f4","4254a1d1.dc7a3"]]},{"id":"4254a1d1.dc7a3","type":"ui_audio","z":"ba1142de.f6ee6","name":"","group":"5ea54420.7f815c","voice":"","always":"","x":900,"y":640,"wires":[]},{"id":"b6f80508.f0f128","type":"ui_group","z":"","name":"Registration_Id","tab":"a688571e.861248","order":1,"disp":true,"width":"6","collapse":false},{"id":"b15b59f2.6a51e8","type":"ui_group","z":"","name":"Login Form","tab":"4dcbe8c6.b8ca28","order":1,"disp":true,"width":"6","collapse":false},{"id":"5ea54420.7f815c","type":"ui_group","z":"","name":"bot","tab":"c6bb16a9.5a3258","order":2,"disp":true,"width":"6","collapse":false},{"id":"a688571e.861248","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"4dcbe8c6.b8ca28","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"c6bb16a9.5a3258","type":"ui_tab","z":"","name":"Customer_help","icon":"dashboard","disabled":false,"hidden":false}]